---
import Layout from '../layouts/Layout.astro'
---
<Layout title='About'>
    <h1>Sobre este proyecto</h1>

    <p>Es un proyecto para evaluar diferencias entre las imagenes</p>
    
</Layout>
