---
import Layout from '../layouts/Layout.astro'
import EImgDark from '../components/EvaluarImagenes/EImgDark.astro';
---

<Layout title='Resultados'>
    <main class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
        <EImgDark url="https://th.bing.com/th/id/OIP.k4uGYhZPu6Q5EVRb0cFtJgHaFj?rs=1&pid=ImgDetMain">

        </EImgDark>
    </main>
</Layout>