---
import {type EvaImgBlur }from '../../types/api_ImgBlur'

const resImgBlur = await fetch('http://192.168.8.171:8000/ImgDesenfocada/',{
    method:"POST",
    headers: {
        "Content-Type":"application/json",
    },
    body: JSON.stringify({
        "url":"https://th.bing.com/th/id/OIP.k4uGYhZPu6Q5EVRb0cFtJgHaFj?rs=1&pid=ImgDetMain"
    })
});
const{ docs: resultados } = await resImgBlur.json() as EvaImgBlur
---

<table>
    <tr>
        <th>Imagenes Desenfocada</th>
    </tr>
    <tr>
        <td>label</td>
        <td>confidence</td>
    </tr>
    {resultados.map((resultado => 
    <tr> 
        <td>{resultado.label}</td>
        <td>{resultado.confidence}</td>
    </tr>
    ))}
</table>