---
import {type EvaImgDark }from '../../types/api_ImgDark'

const {url} = Astro.props

const resImgDarks = await fetch('http://192.168.8.171:8000/ImgOscura/',{
    method:"POST",
    headers: {
        "Content-Type":"application/json",
    },
    body: JSON.stringify({
        "url": url
    })
});
const{ docs: resultados } = await resImgDarks.json() as EvaImgDark

---

<table>
    <tr>
        <th>Imagenes Oscura</th>
    </tr>
    <tr>
        <td>label</td>
        <td>confidence</td>
    </tr>
    {resultados.map((resultado => 
    <tr> 
        <td>{resultado.label}</td>
        <td>{resultado.confidence}</td>
    </tr>
    ))}
</table>
