---
import {type EvaPersona }from '../../types/api_Person'

const resPerson = await fetch('http://192.168.8.171:8000/Personas/',{
    method:"POST",
    headers: {
        "Content-Type":"application/json",
    },
    body: JSON.stringify({
        "url":"https://images.hola.com/imagenes/estar-bien/20231005240937/por-que-idealizamos-otras-personas/1-318-201/pareja-se-mira-t.jpg?tx=w_1200"
    })
});
const{ docs : resultados} = await resPerson.json() as EvaPersona
---

<!-- <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {docs.map((result => <p>{result.label}  :  {result.confidence}</p>))}
</div> -->

<table>
    <tr>
        <th>Imagenes Persona</th>
    </tr>
    <tr>
        <td>label</td>
        <td>confidence</td>
    </tr>
    {resultados.map((resultado => 
    <tr> 
        <td>{resultado.label}</td>
        <td>{resultado.confidence}</td>
    </tr>
    ))}
</table>